In [4]:
import sqlite3
# Kết nối đến database (hoặc tạo mới nếu chưa tồn tại)
conn = sqlite3.connect("D:/IT/SQL/Bài tập/NhanVien.db")
# Tạo đối tượng con trỏ để thực thi lệnh SQL
cursor = conn.cursor()
# Truy vấn dữ liệu từ bảng NhanVien
cursor.execute("SELECT * FROM NhanVien")
# Lấy tất cả dữ liệu từ bảng
rows = cursor.fetchall()
# In kết quả
for row in rows:
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [ ]:
cursor = conn.cursor()
# Truy vấn HoTen và Tuoi của nhân viên trong phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
# Lấy tất cả kết quả
rows = cursor.fetchall()
# Hiển thị kết quả
for row in rows:
    print(row)

('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [ ]:
# Truy vấn nhân viên có độ tuổi > 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
# Lấy tất cả kết quả
rows = cursor.fetchall()
# Hiển thị kết quả
for row in rows:
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [ ]:
# Truy vấn tìm nhân viên lớn tuổi nhất của từng phòng ban
cursor.execute("""
    SELECT PhongBan, HoTen, Tuoi
    FROM NhanVien
    WHERE Tuoi IN (SELECT MAX(Tuoi) FROM NhanVien GROUP BY PhongBan)
""")
# Lấy tất cả kết quả
rows = cursor.fetchall()
# Hiển thị kết quả
for row in rows:
    print(row)

('Nhan Su', 'Le Thi G', 27)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)
('IT', 'Hoang Thi O', 27)

In [ ]:
# Cập nhật thông tin PhongBan của nhân viên "Le Van C"
cursor.execute("""
    UPDATE NhanVien
    SET PhongBan = 'Marketing'
    WHERE HoTen = 'Le Van C'
""")
# Lưu thay đổi vào database
conn.commit()
# Kiểm tra kết quả
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
rows = cursor.fetchall()
# Hiển thị thông tin sau khi cập nhật
for row in rows:
    print(row)

(3, 'Le Van C', 28, 'Marketing')

In [ ]:
# Xóa nhân viên có MaNV = 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
# Lưu thay đổi vào database
conn.commit()
# Đếm số nhân viên theo từng phòng ban
cursor.execute("""
    SELECT PhongBan, COUNT(*) AS SoLuongNhanVien
    FROM NhanVien
    GROUP BY PhongBan
""")
# Lấy kết quả
rows = cursor.fetchall()
# Hiển thị thông tin số lượng nhân viên theo từng phòng ban
for row in rows:
    print(row)

('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)

Bước 1: Import thư viện SQLite (import sqlite3)

Bước 2: Kết nối đến database (conn = sqlite3.connect("NhanVien.db")------ cursor = conn.cursor())

Bước 3: Thực thi câu lệnh SQL (cursor.execute(SQL_CAU_LENH))

Bước 4: Lưu thay đổi (conn.commit())