In [ ]:
import sqlite3
conn = sqlite3.connect('Nhan_Vien.db')
cursor = conn.cursor()
#1. Tạo bảng NhanVien
cursor.execute('''CREATE TABLE NhanVien ( MaNV INT PRIMARY KEY, HoTen NVARCHAR(50), Tuoi INT, PhongBan NVARCHAR(50))''')

In [ ]:
#2. Chèn bảng ghi 
cursor.execute("""INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) values
(1, 'Nguyen Van A', 30, 'Ke Toan'),
(2, 'Tran Thi B', 25, 'Nhan Su'),
(3, 'Le Van C', 28, 'IT'),
(4, 'Pham Thi D', 32, 'Ke Toan'),
(5, 'Vu Van E', 26, 'IT'),
(6, 'Nguyen Thi F', 29, 'Marketing'),
(7, 'Le Thi G', 27, 'Nhan Su'),
(8, 'Hoang Van H', 35, 'Ke Toan'),
(9, 'Pham Van I', 33, 'Marketing'),
(10, 'Tran Van J', 24, 'IT'),
(11, 'Dang Thi K', 31, 'Nhan Su'),
(12, 'Nguyen Van L', 28, 'Ke Toan'),
(13, 'Tran Thi M', 26, 'Marketing'),
(14, 'Pham Van N', 30, 'Nhan Su'),
(15, 'Hoang Thi O', 27, 'IT');""")
conn.commit()

In [ ]:
#3. Lấy toàn bộ thông tin của nhân viên trong bảng NhanVien
cursor.execute("SELECT * FROM NhanVien")
cursor.fetchall()

[(1, 'Nguyen Van A', 30, 'Ke Toan'),
 (2, 'Tran Thi B', 25, 'Nhan Su'),
 (3, 'Le Van C', 28, 'IT'),
 (4, 'Pham Thi D', 32, 'Ke Toan'),
 (5, 'Vu Van E', 26, 'IT'),
 (6, 'Nguyen Thi F', 29, 'Marketing'),
 (7, 'Le Thi G', 27, 'Nhan Su'),
 (8, 'Hoang Van H', 35, 'Ke Toan'),
 (9, 'Pham Van I', 33, 'Marketing'),
 (10, 'Tran Van J', 24, 'IT'),
 (11, 'Dang Thi K', 31, 'Nhan Su'),
 (12, 'Nguyen Van L', 28, 'Ke Toan'),
 (13, 'Tran Thi M', 26, 'Marketing'),
 (14, 'Pham Van N', 30, 'Nhan Su'),
 (15, 'Hoang Thi O', 27, 'IT')]

In [13]:
#4. Truy vấn HoTen và Tuoi của các nhân viên trong phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
cursor.fetchall()

[('Le Van C', 28), ('Vu Van E', 26), ('Tran Van J', 24), ('Hoang Thi O', 27)]

In [14]:
#5. lấy danh sách nhân viên có tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
cursor.fetchall()

[(1, 'Nguyen Van A', 30, 'Ke Toan'),
 (3, 'Le Van C', 28, 'IT'),
 (4, 'Pham Thi D', 32, 'Ke Toan'),
 (5, 'Vu Van E', 26, 'IT'),
 (6, 'Nguyen Thi F', 29, 'Marketing'),
 (7, 'Le Thi G', 27, 'Nhan Su'),
 (8, 'Hoang Van H', 35, 'Ke Toan'),
 (9, 'Pham Van I', 33, 'Marketing'),
 (11, 'Dang Thi K', 31, 'Nhan Su'),
 (12, 'Nguyen Van L', 28, 'Ke Toan'),
 (13, 'Tran Thi M', 26, 'Marketing'),
 (14, 'Pham Van N', 30, 'Nhan Su'),
 (15, 'Hoang Thi O', 27, 'IT')]

In [15]:
#6. Cho biết nhân viên lớn tuổi nhất các PhongBan
cursor.execute("SELECT PhongBan, HoTen ,MAX(Tuoi) FROM NhanVien GROUP BY PhongBan")
cursor.fetchall()

[('IT', 'Le Van C', 28),
 ('Ke Toan', 'Hoang Van H', 35),
 ('Marketing', 'Pham Van I', 33),
 ('Nhan Su', 'Dang Thi K', 31)]

In [17]:
#7. Chuyển đổi thông tin PhongBan của nhân viên “Le Van C” sang “Marketing” 
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()
# kiểm tra kết quảquả
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
cursor.fetchall()

[(3, 'Le Van C', 28, 'Marketing')]

Câu hỏi phụ:

Không có vấn đề gì khi thực hiện lệnh chuyển đổi thông tin. nếu có thì:

a. Chỉ mới UPDATE PhongBan mà chưa kiểm tra nhân viên "Le Van C" có tồn tại trong cơ sở dữ liệu hay không?

b. TTồn tại nhiều nhân viên trùng tên. Lệnh UPDATE sẽ cập nhật PhongBan của tất cả nhân viên có tên "Le Van C", dẫn đến sai lệch thông tin.

In [1]:
#cách sửa lỗi Câu hỏi phụ

#a. kiểm tra số lượng nhân viên có tên "Le Van C" trước khi cập nhật
cursor.execute("SELECT COUNT(*) FROM NhanVien WHERE HoTen = 'Le Van C'")
count = cursor.fetchone()[0]
if count > 0:
    cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
    conn.commit()
    print(f"Đã cập nhật PhongBan cho {count} nhân viên tên 'Le Van C'")
else:
    print("Không tìm thấy nhân viên nào tên 'Le Van C'")

#b.
cursor.execute(" UPDATE NhanVien Set PhongBan = 'IT' where HoTen = 'Le Van C' and MaNV = ? ") 
conn.commit()

In [ ]:
#8. Xoá nhân viên có MaNV = '2' rồi cho biết mỗi phòng ban có bao nhiêu người
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
cursor.fetchall()

In [ ]:
# Đóng kết Nối
conn.close()