1 + 2: Tạo bảng và nhập dữ liệu vào cơ sở dữ liệu

In [1]:
import sqlite3

# Kết nối tới cơ sở dữ liệu (nếu cơ sở dữ liệu không tồn tại, nó sẽ được tạo mới)
conn = sqlite3.connect('my_database.db')
conn.execute("PRAGMA journal_mode=WAL;") 
cursor = conn.cursor()

# Tạo bảng NhanVien
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT NOT NULL,
        Tuoi INTEGER,
        PhongBan TEXT
    );
''')
# Chèn dữ liệu vào bảng NhanVien
cursor.executemany('''
    INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) 
    VALUES (?, ?, ?, ?)
''', [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'Ke Toan'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
])

# Lưu và đóng kết nối
conn.commit()
conn.close()

print("Bảng NhanVien đã được tạo thành công.")

Bảng NhanVien đã được tạo thành công.

3. Lấy toàn bộ thông tin của nhân viên trong bảng NhanVien.

In [2]:
# Mở kết nối và truy vấn dữ liệu
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Truy vấn tất cả các nhân viên trong bảng NhanVien
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)

# Đóng kết nối
conn.close()

(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Ke Toan')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

4. Truy vấn HoTen và Tuoi của các nhân viên trong phòng IT.

In [3]:
# Mở kết nối và truy vấn dữ liệu
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Truy vấn tất cả các nhân viên trong bảng NhanVien
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)

# Đóng kết nối
conn.close()

('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

5. Tìm nhân viên có độ tuổi lớn hơn 25.

In [4]:
# Mở kết nối và truy vấn các nhân viên có tuổi lớn hơn 25
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Truy vấn nhân viên có tuổi > 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)

# Đóng kết nối
conn.close()

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Ke Toan')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

6. Cho biết nhân viên lớn tuổi nhất của các PhongBan.

In [5]:
# Mở kết nối tới cơ sở dữ liệu
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Truy vấn nhân viên lớn tuổi nhất trong mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, HoTen, MAX(Tuoi)
    FROM NhanVien
    GROUP BY PhongBan
''')

# Lấy kết quả
rows = cursor.fetchall()

# In kết quả
print("Nhân viên lớn tuổi nhất trong mỗi phòng ban:")
for row in rows:
    print(f"Phòng ban: {row[0]}, Nhân viên: {row[1]}, Tuổi: {row[2]}")

# Đóng kết nối
conn.close()

Nhân viên lớn tuổi nhất trong mỗi phòng ban:
Phòng ban: IT, Nhân viên: Hoang Thi O, Tuổi: 27
Phòng ban: Ke Toan, Nhân viên: Hoang Van H, Tuổi: 35
Phòng ban: Marketing, Nhân viên: Pham Van I, Tuổi: 33
Phòng ban: Nhan Su, Nhân viên: Dang Thi K, Tuổi: 31

7. Chuyển đổi thông tin PhongBan của nhân viên “Le Van C” sang “Marketing” (có vấn đề gặp phải khi thực
hiện chuyển đổi thông tin hay không? Nếu có, vấn đề đó là gì và hãy đề xuất biện pháp giải quyết).

In [6]:
# Mở kết nối và cập nhật phòng ban
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Cập nhật phòng ban cho nhân viên "Le Van C"
cursor.execute("UPDATE NhanVien SET PhongBan = ? WHERE HoTen = ?", ('Marketing', 'Le Van C'))
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)
# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

print("Phòng ban của nhân viên 'Le Van C' đã được cập nhật thành Marketing.")

(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')
Phòng ban của nhân viên 'Le Van C' đã được cập nhật thành Marketing.

8. Xóa nhân viên có “MaSV = 2” rồi cho biết mỗi phòng ban có bao nhiêu người

In [7]:
# Mở kết nối tới cơ sở dữ liệu
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Bước 1: Xóa nhân viên có MaNV = 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")

# Lưu thay đổi
conn.commit()

# Bước 2: Truy vấn số lượng nhân viên trong mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, COUNT(*) 
    FROM NhanVien
    GROUP BY PhongBan
''')

# Lấy kết quả
rows = cursor.fetchall()

# In kết quả
print("Số nhân viên trong mỗi phòng ban:")
for row in rows:
    print(f"Phòng ban: {row[0]}, Số lượng nhân viên: {row[1]}")

# Đóng kết nối
conn.close()

Số nhân viên trong mỗi phòng ban:
Phòng ban: IT, Số lượng nhân viên: 3
Phòng ban: Ke Toan, Số lượng nhân viên: 4
Phòng ban: Marketing, Số lượng nhân viên: 4
Phòng ban: Nhan Su, Số lượng nhân viên: 3