# câu 1:

In [1]:
import sqlite3

# Kết nối đến SQLite
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()

# Tạo bảng
cursor.execute('''
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
)
''')

# câu 2:

In [2]:
# Chèn dữ liệu
nhan_vien = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

cursor.executemany('INSERT OR IGNORE INTO NhanVien VALUES (?, ?, ?, ?)', nhan_vien)
conn.commit()

# câu 3:

In [3]:
# Truy vấn toàn bộ nhân viên
cursor.execute('SELECT * FROM NhanVien')
print("Toàn bộ nhân viên:")
for row in cursor.fetchall():
    print(row)

Toàn bộ nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

# câu 4:

In [4]:
# Truy vấn HoTen và Tuoi của nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
print("\nNhân viên phòng IT:")
for row in cursor.fetchall():
    print(row)

Nhân viên phòng IT:
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

# câu 5:

In [5]:
# Tìm nhân viên có tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
print("\nNhân viên trên 25 tuổi:")
for row in cursor.fetchall():
    print(row)

Nhân viên trên 25 tuổi:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

# câu 6:

In [6]:
# Truy vấn nhân viên lớn tuổi nhất trong mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, HoTen, MAX(Tuoi)
    FROM NhanVien
    GROUP BY PhongBan
''')

# Lấy kết quả
rows = cursor.fetchall()

# In kết quả
print("Nhân viên lớn tuổi nhất trong mỗi phòng ban:")
for row in rows:
    print(f"Phòng ban: {row[0]}, Nhân viên: {row[1]}, Tuổi: {row[2]}")

# Đóng kết nối
conn.close()

Nhân viên lớn tuổi nhất trong mỗi phòng ban:
Phòng ban: IT, Nhân viên: Hoang Thi O, Tuổi: 27
Phòng ban: Ke Toan, Nhân viên: Hoang Van H, Tuổi: 35
Phòng ban: Marketing, Nhân viên: Pham Van I, Tuổi: 33
Phòng ban: Nhan Su, Nhân viên: Dang Thi K, Tuổi: 31

# câu 7:

In [44]:
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()
# Cập nhật phòng ban cho nhân viên "Le Van C"
cursor.execute("UPDATE NhanVien SET PhongBan = ? WHERE HoTen = ?", ('Marketing', 'Le Van C'))
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)
# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

print("Phòng ban của nhân viên 'Le Van C' đã được cập nhật thành Marketing.")

(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')
Phòng ban của nhân viên 'Le Van C' đã được cập nhật thành Marketing.

# câu 8:

In [45]:
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()
# Xóa nhân viên có MaNV = 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
print("\nĐã xóa nhân viên có MaNV = 2")

# Đếm số lượng nhân viên trong mỗi phòng ban
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
print("\nSố lượng nhân viên mỗi phòng ban:")
for row in cursor.fetchall():
    print(row)

# Đóng kết nối
conn.close()

Đã xóa nhân viên có MaNV = 2

Số lượng nhân viên mỗi phòng ban:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)