### B1

In [1]:
import pandas as pd

# Tạo bảng nhân viên dưới dạng DataFrame
data = {
    'ID': [1, 2, 3],
    'Name': ['Nguyen A', 'Tran B', 'Le C'],
    'Age': [28, 34, 25],
    'Position': ['Developer', 'Manager', 'Designer'],
    'Salary': [60000, 80000, 50000]
}

df = pd.DataFrame(data)

# Lọc các nhân viên có độ tuổi lớn hơn 25
filtered_df = df[df['Age'] > 25]

# Hiển thị kết quả
print(filtered_df)

   ID      Name  Age   Position  Salary
0   1  Nguyen A   28  Developer   60000
1   2    Tran B   34    Manager   80000

### B2

In [ ]:
import sqlite3
# Kết nối đến SQLite (tạo file database nếu chưa có)
conn = sqlite3.connect("nhanvien.db")  
cursor = conn.cursor()

# 1. Tạo bảng NhanVien
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
);
""")

# 2. Chèn dữ liệu vào bảng
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

cursor.executemany("INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)", data)

# 3. Truy vấn dữ liệu
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

# Hiển thị kết quả
print("Dữ liệu trong bảng NhanVien:")
for row in rows:
    print(row)

# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

### B3
SELECT * FROM NhanVien;

In [4]:
import sqlite3
# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# Thực hiện truy vấn lấy toàn bộ dữ liệu từ bảng NhanVien
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

# Hiển thị kết quả
print("Danh sách nhân viên:")
for row in rows:
    print(row)

# Đóng kết nối
conn.close()

Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

### B4
SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT';

In [5]:
# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# Thực hiện truy vấn lấy HoTen và Tuoi của nhân viên trong phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()

# Hiển thị kết quả
print("Danh sách nhân viên phòng IT:")
for row in rows:
    print(row)

# Đóng kết nối
conn.close()

Danh sách nhân viên phòng IT:
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

### B5
SELECT * FROM NhanVien WHERE Tuoi > 25;

In [6]:
# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# Truy vấn nhân viên có độ tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows = cursor.fetchall()

# Hiển thị kết quả
print("Danh sách nhân viên có độ tuổi lớn hơn 25:")
for row in rows:
    print(row)

# Đóng kết nối
conn.close()

Danh sách nhân viên có độ tuổi lớn hơn 25:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

### B6
SELECT PhongBan, HoTen, Tuoi

FROM NhanVien

WHERE Tuoi = (

    SELECT MAX(Tuoi) FROM NhanVien AS NV2 WHERE NV2.PhongBan = NhanVien.PhongBan

);

In [12]:
# Mở kết nối 
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()
# 3 Truy vấn tất cả nhân viên
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
print("Danh sách nhân viên:")
for row in rows:
    print(row)

#4  Truy vấn nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()
print("\nNhân viên phòng IT:")
for row in rows:
    print(row)
    
# 5 Truy vấn nhân viên có tuổi > 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows = cursor.fetchall()
# In kết quả
for row in rows:
    print(row)

#6 cho biết nhân viên lớn tuổi nhất phòng ban
cursor.execute("SELECT PhongBan,HoTen,MAX (Tuoi) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
print("\nNhân viên lớn tuổi nhất của các phòng ban:")
for row in rows:
    print(row)
# Lưu và đóng kết nối
conn.commit()
conn.close()

Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên phòng IT:
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên lớn tuổi nhất của các phòng ban:
('IT', 'Hoang Thi O', 27)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

### B7

UPDATE NhanVien 

SET PhongBan = 'Marketing' 

WHERE HoTen = 'Le Van C' AND PhongBan = 'IT';

In [9]:
# Kết nối đến cơ sở dữ liệu SQLite
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# Cập nhật phòng ban của nhân viên "Le Van C" từ "IT" sang "Marketing"
cursor.execute("""
    UPDATE NhanVien 
    SET PhongBan = 'Marketing' 
    WHERE HoTen = 'Le Van C' AND PhongBan = 'IT'
""")

# Lưu thay đổi
conn.commit()

# Kiểm tra lại thông tin sau khi cập nhật
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
updated_employee = cursor.fetchall()

# Hiển thị kết quả
print("Thông tin nhân viên sau khi cập nhật:")
for row in updated_employee:
    print(row)

# Đóng kết nối
conn.close()

Thông tin nhân viên sau khi cập nhật:
(3, 'Le Van C', 28, 'Marketing')

### B8

DELETE FROM NhanVien WHERE MaNV = 2;

SELECT PhongBan, COUNT(*) AS SoLuongNhanVien

FROM NhanVien

GROUP BY PhongBan;

In [8]:
# Mở kết nối 
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()
# 8 Xóa nhân viên MaNV = 2 ,Đếm số nhân viên mỗi phòng ban
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")

cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
print("\nSố nhân viên mỗi phòng ban:")
for row in rows:
    print(row)

# Lưu và đóng kết nối
conn.commit()
conn.close()

Số nhân viên mỗi phòng ban:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)