In [3]:
import sqlite3

# Kết nối đến SQLite và bật chế độ WAL
conn = sqlite3.connect("nhanvien.db")
conn.execute("PRAGMA journal_mode=WAL;")
cursor = conn.cursor()

In [4]:
# 1. Tạo bảng NhanVien (nếu chưa tồn tại)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT,
        Tuoi INTEGER,
        PhongBan TEXT
    )
''')

In [5]:
# 2. Chèn dữ liệu vào bảng (xóa trước khi chèn lại để tránh trùng lặp)
cursor.execute("DELETE FROM NhanVien")
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

cursor.executemany("INSERT INTO NhanVien VALUES (?, ?, ?, ?)", data)
conn.commit()
print("Dữ liệu đã được chèn thành công.")

Dữ liệu đã được chèn thành công.

In [6]:
# 3. Lấy toàn bộ thông tin nhân viên
cursor.execute("SELECT * FROM NhanVien")
print("\n3. Thông tin toàn bộ nhân viên:")
for row in cursor.fetchall():
    print(row)

3. Thông tin toàn bộ nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [7]:
# 4. Truy vấn HoTen và Tuoi của nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
print("\n4. HoTen và Tuoi của nhân viên phòng IT:")
for row in cursor.fetchall():
    print(row)

4. HoTen và Tuoi của nhân viên phòng IT:
('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [8]:
# 5. Tìm nhân viên có độ tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
print("\n5. Nhân viên có độ tuổi lớn hơn 25:")
for row in cursor.fetchall():
    print(row)

5. Nhân viên có độ tuổi lớn hơn 25:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [9]:
# 6. Nhân viên lớn tuổi nhất của mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, HoTen, Tuoi 
    FROM NhanVien 
    WHERE (PhongBan, Tuoi) IN (
        SELECT PhongBan, MAX(Tuoi) 
        FROM NhanVien 
        GROUP BY PhongBan
    )
''')
print("\n6. Nhân viên lớn tuổi nhất của mỗi phòng ban:")
for row in cursor.fetchall():
    print(row)

6. Nhân viên lớn tuổi nhất của mỗi phòng ban:
('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

In [ ]:
# 7. Cập nhật PhongBan của Le Van C sang Marketing
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()
print("\n7. Đã cập nhật PhongBan của Le Van C sang Marketing.")

# Kiểm tra lại thông tin của Le Van C sau khi cập nhật
cursor.execute("SELECT * FROM NhanVien WHERE MaNV = 3")
print("Thông tin sau khi cập nhật:")
print(cursor.fetchone())

# Kết quả không có vấn đề.
# Nếu có khả năng bị trùng HoTen = 'Le Van C' thì nên dùng MaNV = 3 để xác định giá trị duy nhất ở vị trị muốn thay đổi.

7. Đã cập nhật PhongBan của Le Van C sang Marketing.
Thông tin sau khi cập nhật:
(3, 'Le Van C', 28, 'Marketing')

In [13]:
# 8. Xóa nhân viên có MaNV = 2 và đếm số nhân viên theo phòng ban
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
print("\n8. Đã xóa nhân viên có MaNV = 2.")

cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
print("Số lượng nhân viên theo phòng ban:")
for row in cursor.fetchall():
    print(row)

# Đóng kết nối
conn.close()

8. Đã xóa nhân viên có MaNV = 2.
Số lượng nhân viên theo phòng ban:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)