In [9]:
import sqlite3

# Kết nối đến database (nếu chưa có sẽ tự động tạo)
conn = sqlite3.connect("company.db")

# Tạo đối tượng cursor để thực thi câu lệnh SQL
cursor = conn.cursor()

In [ ]:
#tạo bảng nhân viên
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
)
""")
conn.commit()  # Lưu thay đổi vào database

In [ ]:
#chèn dữ liệu vào bảng nhân viên
employees = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

cursor.executemany("INSERT INTO NhanVien VALUES (?, ?, ?, ?)", employees)
conn.commit()

In [ ]:
#truy vẫn dữ liệu
cursor.execute("SELECT * FROM NhanVien")
for row in cursor.fetchall():
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [ ]:
#lấy tên và tuổi của nhân viên trong phòng ban IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
for row in cursor.fetchall():
    print(row)

('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [ ]:
#nhân viên có tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
for row in cursor.fetchall():
    print(row)

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [ ]:
#nhan vien co tuoi lon nhat trong moi phong ban
cursor.execute("""
SELECT PhongBan, HoTen, MAX(Tuoi)
FROM NhanVien
GROUP BY PhongBan
""")
for row in cursor.fetchall():
    print(row)

('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

In [ ]:
#chuyển nhân viên có tên 'Le Van C' từ phòng ban 'IT' sang phòng ban 'Marketing'
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()

In [ ]:
#xóa nhân viên có mã 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
for row in cursor.fetchall():
    print(row)

('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)

In [ ]:
# Đóng kết nối
conn.close()