In [2]:
import sqlite3

conn = sqlite3.connect('dulieu.db')
conn.execute("PRAGMA journal_mode=WAL;")
cursor = conn.cursor()

# Tạo bảng NhanVien nếu nó chưa tồn tại
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT NOT NULL,
        Tuoi INTEGER,
        PhongBan TEXT
    );
''')

# Nhập dữ liệu vào bảng
cursor.executemany('''
    INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) 
    VALUES (?, ?, ?, ?)
''', [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'Ke Toan'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
])

conn.commit()  # Lưu thay đổi
conn.close()  # Đóng kết nối

In [ ]:
#cau 3
conn = sqlite3.connect('dulieu.db')
cursor = conn.cursor()

# Truy vấn tất cả các nhân viên trong bảng NhanVien
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)

conn.close()  # Đóng kết nối

(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Ke Toan')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [4]:
#cau4
conn = sqlite3.connect('dulieu.db')
cursor = conn.cursor()

# Truy vấn HoTen và Tuoi của các nhân viên trong phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)

conn.close()  # Đóng kết nối

('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

In [ ]:

#cau5
conn = sqlite3.connect('dulieu.db')
cursor = conn.cursor()

# Truy vấn nhân viên có tuổi > 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)

conn.close()  # Đóng kết nối

(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Ke Toan')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [10]:
#cau6
conn = sqlite3.connect('dulieu.db')
cursor = conn.cursor()

# Truy vấn nhân viên lớn tuổi nhất trong mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, HoTen, MAX(Tuoi)
    FROM NhanVien
    GROUP BY PhongBan
''')

rows = cursor.fetchall()

# In kết quả
print("Nhân viên lớn tuổi nhất trong mỗi phòng ban:")
for row in rows:
    print(f"Phòng ban: {row[0]}, Nhân viên: {row[1]}, Tuổi: {row[2]}")

conn.close()  # Đóng kết nối

Nhân viên lớn tuổi nhất trong mỗi phòng ban:
Phòng ban: IT, Nhân viên: Hoang Thi O, Tuổi: 27
Phòng ban: Ke Toan, Nhân viên: Hoang Van H, Tuổi: 35
Phòng ban: Marketing, Nhân viên: Pham Van I, Tuổi: 33
Phòng ban: Nhan Su, Nhân viên: Dang Thi K, Tuổi: 31

In [8]:
#cau7 
conn = sqlite3.connect('dulieu.db')
cursor = conn.cursor()
# Cập nhật phòng ban cho nhân viên "Le Van C"
cursor.execute("UPDATE NhanVien SET PhongBan = ? WHERE HoTen = ?", ('Marketing', 'Le Van C'))
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()

# In kết quả
for row in rows:
    print(row)

conn.commit()  # Lưu thay đổi
conn.close()  # Đóng kết nối

(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [9]:
#cau 8
conn = sqlite3.connect('dulieu.db')
cursor = conn.cursor()

#Xóa nhân viên có MaNV = 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")

# Lưu thay đổi
conn.commit()

#Truy vấn số lượng nhân viên trong mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, COUNT(*) 
    FROM NhanVien
    GROUP BY PhongBan
''')

rows = cursor.fetchall()

# In kết quả
print("Số nhân viên trong mỗi phòng ban:")
for row in rows:
    print(f"Phòng ban: {row[0]}, Số lượng nhân viên: {row[1]}")

conn.close()  # Đóng kết nối

Số nhân viên trong mỗi phòng ban:
Phòng ban: IT, Số lượng nhân viên: 3
Phòng ban: Ke Toan, Số lượng nhân viên: 4
Phòng ban: Marketing, Số lượng nhân viên: 4
Phòng ban: Nhan Su, Số lượng nhân viên: 3