In [10]:
Câu 1
DROP TABLE NhanVien;
CREATE TABLE NhanVien (
    MaNV integer primary key,
    HoTen varchar (50),
    Tuoi integer,
    PhongBan varchar (50),
);

In [9]:
Câu 2
insert into NhanVien (MaNV,HoTen,Tuoi,PhongBan) Values
(1,'Nguyen Van A',30,'Ke toan'),
(2, 'Tran Thi B',25, 'Nhan Su'),
(3, 'Le Van C',28, 'IT'),
(4, 'Pham Thi D', 32, 'Ke Toan'), 
(5, 'Vu Van E', 26, 'IT'),
(6, 'Nguyen Thi F', 29, 'Marketing'),  
(7, 'Le Thi G', 27, 'Nhan Su'),
(8, 'Hoang Van H', 35, 'Ke Toan'),  
(9, 'Pham Van I', 33, 'Marketing'),  
(10, 'Tran Van J', 24, 'IT'),
(11, 'Dang Thi K', 31, 'Nhan Su'),  
(12, 'Nguyen Van L', 28, 'Ke Toan'),  
(13, 'Tran Van M', 29, 'Marketing'), 
(14, 'Pham Van N', 30, 'Nhan Su'),  
(15, 'Hoang Thi O', 27, 'IT');

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'NhanVien', because it does not exist or you do not have permission.

In [12]:
#Câu 3: Lấy toàn bộ thông tin của nhân viên trong bảng NhanVien
SELECT * FROM NhanVien;

: Msg 2705, Level 16, State 4, Line 2
Column names in each table must be unique. Column name 'NgayNhap' in table 'NhanVien' is specified more than once.

In [ ]:
#Câu 4:Truy vấn HoTen và Tuoi của các nhân viên trong phòng IT
SELECT HoTen, Tuoi 
FROM NhanVien 
WHERE PhongBan = 'IT';

In [ ]:
#Câu 5: Tìm nhân viên có độ tuổi lớn hơn 25
SELECT * 
FROM NhanVien 
WHERE Tuoi > 25;

In [ ]:
#Câu 6: Cho biết nhân viên lớn tuổi nhất của mỗi PhongBan
SELECT PhongBan, HoTen, Tuoi
FROM NhanVien AS nv1
WHERE Tuoi = (
    SELECT MAX(Tuoi) 
    FROM NhanVien AS nv2
    WHERE nv1.PhongBan = nv2.PhongBan
);

In [ ]:
#Câu 7: Chuyển đổi thông tin PhongBan của nhân viên Le Van C từ IT sang Marketing
SELECT * FROM NhanVien WHERE HoTen = 'Le Van C';
UPDATE NhanVien
SET PhongBan = 'Marketing'
WHERE MaNV = 3;

In [ ]:
#Câu 8: Xoá nhân viên có "MaSV=2" rồi cho biết mõi phong ban có bao nhiêu người
DELETE FROM NhanVien 
WHERE MaNV = 2;
SELECT PhongBan, COUNT(*) AS SoLuongNhanVien
FROM NhanVien
GROUP BY PhongBan;